@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #3988ff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

.box{
    background-color: #fff;
    padding: 30px 60px 30px 60px;
    border-radius: 7px;
}

.dates{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 20px;
}

.first-date{
    grid: 1 / 2;
}
.second-date{
    grid: 2 / 2;
}
.dates h3{
    margin-bottom: 10px;
}

.dates input{
    padding: 6px 12px 6px 12px;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: 0.2s ease-in-out;
}

.dates input:focus{
    border: 2px solid #005fec;
}

.submit-section {
    text-align: center;
    margin-top: 15px;
    column-span: 2;
}

.submit-section button{
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #005fec;
    background-color: #3988ff;
    color: #fff;
    cursor: pointer;
    border: 2px solid #3988ff;
    background-color: #fff;
    color: #000;
    transition: 0.2s ease-in-out;
}

.submit-section button:hover{
    border: 2px solid #005fec;
    background-color: #3988ff;
    color: #fff;
}

#result {
    text-align: center;
}

.side-label{
    color: #757575;
    font-weight: 410;
}

#sno-1{
    margin-bottom: 11.5px;
}
#sno-2{
    margin-top: 11.5px;
}

.result-label{
    font-size: 45px;
    font-weight: 700;
    color: #3988ff;
}