<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        *{
            --bs-body-font-family: 'Poppins', sans-serif;
        }
    </style>
    <title>BMI Calculator</title>
</head>
<body class="bg-dark bg-gradient">
    <div class="container d-flex justify-content-center align-items-center vh-100 flex-column">
        <form action="/calculate" method="post" id="box-1" class="bg-white px-4 py-4 w-50 text-center rounded-2" data-bs-theme="light">
            <h2>BMI Calculator</h2>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="weight-label">Weight(kg)</span>
                <input type="text" class="form-control" placeholder="Your weight here" aria-label="Your weight here" aria-describedby="weight-label" name="weight-input">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Height(m)</span>
                <input type="text" class="form-control" placeholder="Your height here" aria-label="Your height here" aria-describedby="height-label" name="height-input">
            </div>
            <button type="submit" class="btn btn-primary w-100 fs-5 py-2">Submit</button>
        </form>
        {% if request.path == '/calculate' %}
        <div id="box-2" class="bg-white px-4 py-4 w-50 text-center rounded-2 mt-2">
            <h2 class="mb-4">BMI Results</h2>
            <p class="fs-5">BMI: {{ bmi }} kg/m²</p>
            <p class="fs-5" style="color: {{ status_color }};">Status: {{ status }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>