<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Resume</title>
</head>
<body class="font-[Poppins] bg-slate-950">
    <div class="sticky top-0 text-white bg-slate-900 flex items-center justify-between px-50 py-4.5 border-b-3 border-b-slate-800" id="navbar">
        <a href="#intro" class="font-semibold text-[21px]">Resume | {{ info_set[0] }}</a>
        <section class="flex items-center gap-[1.5vw] transition-all">
            <a href="#intro" class="text-indigo-500/60 text-[17px] hover:font-medium hover:text-indigo-400 transition-all duration-200">Intro</a>
            <a href="#about" class="text-indigo-500/60 text-[17px] hover:font-medium hover:text-indigo-400 transition-all duration-200">About</a>
            <a href="#skills" class="text-indigo-500/60 text-[17px] hover:font-medium hover:text-indigo-400 transition-all duration-200">Skills</a>
            <a href="#project" class="text-indigo-500/60 text-[17px] hover:font-medium hover:text-indigo-400 transition-all duration-200">Projects</a>
            <a href="#contact" class="text-indigo-500/60 text-[17px] hover:font-medium hover:text-indigo-400 transition-all duration-200">Contact</a>
        </section>
    </div>
    <div id="intro" class="mt-5 mx-50 grid grid-cols-2 gap-[0.5vw] place-items-center bg-slate-900 px-20 py-10 border border-sky-900 rounded">
        <div id="content-grid-box-1">
            <p class="text-white text-[22px] font-semibold">Hi, I am</p>
            <p class="text-white text-[50px] font-semibold mb-2">
                <span class="cursor-pointer transition-all hover:text-blue-500 hover:text-shadow-md hover:text-shadow-blue-600">{{ s[0] }}</span>
                <span class="cursor-pointer transition-all hover:text-red-500 hover:text-shadow-md hover:text-shadow-red-600">{{ s[1] }}</span>
            </p>
            <p class="text-[18.5px] text-slate-400 font-medium">{{ info_set[2] }}</p>
            <p class="mt-4.5 text-base/7 text-slate-600 font-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan quis sapien non facilisis. Maecenas ut lorem porttitor, varius nisi ultrices, suscipit mauris. Sed tempor semper eleifend. Proin aliquet et sem in dapibus. Maecenas a dui sit amet turpis dignissim pellentesque. Suspendisse potenti. Maecenas at mollis dui. Aenean gravida libero at nulla consectetur, facilisis pretium felis ullamcorper.</p>
        </div>
        <img src="/static/image.png" class="w-60" alt="" id="content-grid-box-2">
    </div>
    <div id="about" class="mt-5 mx-50 bg-slate-900 px-20 py-10 border border-sky-900 rounded">
        <p class="text-center text-white font-semibold text-4xl mb-8">About me</p>
        <p class="text-slate-500 font-medium text-base/7.5">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed gravida, turpis nec sodales blandit, velit lorem tincidunt sem, eu ullamcorper lacus turpis faucibus magna. Vestibulum nulla neque, luctus id sodales et, eleifend id justo. Nunc ante orci, gravida a est et, placerat luctus ante. Duis luctus semper nisi, a vulputate erat facilisis in. Vestibulum malesuada, nibh quis viverra convallis, ipsum mi sagittis nulla, quis venenatis libero purus at justo. Sed id neque sit amet ante volutpat tincidunt vitae non lorem. Nam posuere a eros at venenatis. Nulla scelerisque felis arcu, nec euismod justo varius sed. Sed sapien nisi, sagittis sed blandit nec, rhoncus ac felis. Aliquam iaculis dui vel feugiat pulvinar. Curabitur ullamcorper a ante congue lacinia. Proin in lobortis enim. Donec eu mauris lobortis, fermentum purus in, rhoncus dolor.</p>
        <p class="text-slate-500 font-medium text-base/7.5 mt-3">Suspendisse elit dui, blandit a finibus at, tempus id sapien. Nulla scelerisque feugiat leo maximus venenatis. Vestibulum vel nisi faucibus, feugiat orci sit amet, suscipit quam. Praesent posuere a sem at dignissim. Morbi eget risus commodo, euismod massa et, rutrum turpis. Vivamus sodales placerat nulla, sit amet auctor tortor eleifend ut. Donec sit amet pharetra ligula. Nunc venenatis maximus tristique. Etiam laoreet hendrerit ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        <p class="text-slate-500 font-medium text-base/7.5 mt-3">Vivamus mi orci, vestibulum convallis risus et, feugiat commodo est. Etiam in diam facilisis, rhoncus leo a, ullamcorper arcu. Maecenas egestas porta faucibus. Vivamus orci sapien, consectetur quis enim et, pharetra sollicitudin nulla. Proin eu elementum metus. Etiam euismod tortor et dolor interdum porttitor. Etiam id mollis ipsum.</p>
    </div>
    <div id="skills" class="mt-5 mx-50 bg-slate-900 px-20 py-10 border border-sky-900 rounded">
        <p class="text-center text-white font-semibold text-4xl mb-8">My skills</p>
        <div class="grid grid-cols-3 gap-10">
            <div>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
            <br>
            <div>
                <p class="mb-2 text-slate-600 font-medium">Lorem Ipsum</p>
                <div class="w-full max-w-md bg-gray-200 rounded-full h-4">
                    <div class="bg-blue-500 h-4 rounded-full" style="width: 60%"></div>
                </div>
            </div>
        </div>
        </div>
    </div> 
    <div id="project" class="mt-5 mx-50 bg-slate-900 px-20 py-10 border border-sky-900 rounded">
        <p class="text-center text-white font-semibold text-4xl mb-8">My Projects</p>
        <div class="grid grid-cols-3 gap-3 text-center">
            <div class="bg-slate-800 p-8 rounded">
                <img src="/static/project.webp" alt="" class="rounded">
                <p class="text-2xl mt-5 font-bold text-white">Lorem Ipsum</p>
                <p class="text-base/6.5 mt-3 font-medium text-slate-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan quis sapien non facilisis. Maecenas ut lorem porttitor, varius nisi ultrices, suscipit mauris. Sed tempor semper eleifend. Proin aliquet et sem in dapibus. Maecenas a dui sit amet turpis dignissim pellentesque. Suspendisse potenti. Maecenas at mollis dui. Aenean gravida libero at nulla consectetur, facilisis pretium felis ullamcorper.</p>
                <button class="bg-indigo-600/40 w-[100%] py-3 font-semibold text-indigo-400 rounded mt-2 cursor-pointer hover:bg-indigo-600/55 transition-all">See more</button>
            </div>
            <div class="bg-slate-800 p-8 rounded">
                <img src="/static/project.webp" alt="" class="rounded">
                <p class="text-2xl mt-5 font-bold text-white">Lorem Ipsum</p>
                <p class="text-base/6.5 mt-3 font-medium text-slate-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan quis sapien non facilisis. Maecenas ut lorem porttitor, varius nisi ultrices, suscipit mauris. Sed tempor semper eleifend. Proin aliquet et sem in dapibus. Maecenas a dui sit amet turpis dignissim pellentesque. Suspendisse potenti. Maecenas at mollis dui. Aenean gravida libero at nulla consectetur, facilisis pretium felis ullamcorper.</p>
                <button class="bg-indigo-600/40 w-[100%] py-3 font-semibold text-indigo-400 rounded mt-2 cursor-pointer hover:bg-indigo-600/55 transition-all">See more</button>
            </div>
            <div class="bg-slate-800 p-8 rounded">
                <img src="/static/project.webp" alt="" class="rounded">
                <p class="text-2xl mt-5 font-bold text-white">Lorem Ipsum</p>
                <p class="text-base/6.5 mt-3 font-medium text-slate-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan quis sapien non facilisis. Maecenas ut lorem porttitor, varius nisi ultrices, suscipit mauris. Sed tempor semper eleifend. Proin aliquet et sem in dapibus. Maecenas a dui sit amet turpis dignissim pellentesque. Suspendisse potenti. Maecenas at mollis dui. Aenean gravida libero at nulla consectetur, facilisis pretium felis ullamcorper.</p>
                <button class="bg-indigo-600/40 w-[100%] py-3 font-semibold text-indigo-400 rounded mt-2 cursor-pointer hover:bg-indigo-600/55 transition-all">See more</button>
            </div>
        </div>
    </div>
    <div id="contact" class="mt-5 mb-5 mx-50 bg-slate-900 px-20 py-10 border border-sky-900 rounded">
        <p class="text-center text-white font-semibold text-4xl mb-8">Contact Me</p>
        <p class="text-center text-slate-400 font-medium text-xl">For more questions, ask me</p>
        <p class="text-slate-500 text-center mt-3">
            <span>Mobile Number: {{ info_set[3] }}</span><br>
            <span>Email: {{ info_set[1] }}</span>
        </p>
        <br>
        <p class="text-center text-slate-500 font-semibold">2025 &copy; Copyrighted By {{ info_set[0] }}. All Rights Reserved.</p>
    </div>
</body>
</html>